<div class="container">
    <h2>Product List</h2>
    <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" />
    <button class="addProduct" (click)="addProduct()">Add Product</button>
    <ul class="product-list">
        <li *ngFor="let product of products | filter:searchTerm">
            {{ product.name }}
            <div class="actions">
                <button (click)="viewProduct()">View</button>
                <button (click)="editProduct()">Edit</button>
                <button (click)="deleteProduct()">Delete</button>
            </div>
        </li>
    </ul>
</div>
