.container {
  padding: 20px;
}

input[type="text"]{
  width: 10%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.actions button {
  margin-left: 20px;
  font-size: 16px;
  border-radius: 10px;
}

.actions button:hover {
  background-color: rgb(150, 223, 236);
}

.addProduct {
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
}

.addProduct:hover {
  background-color: rgb(150, 223, 236);
}